.container .row .col {
    margin-top: 50px;
    
}


.col h1,h2 {
    line-height: 50px;
    margin-top: 50px;
}
.col h1 {
    color: #2e1a8a;
    font-size: 60px;
}


.col p {
    line-height: 35px;
    font-size: 20px;
}

.container .row .col img {
    width: 100%;
    
    
}

.navbar-brand{
    color: #2e1a8a !important;
    font-weight: bold;
}

.container .card{
    margin-top: 60px;
}

.testimoni {
    text-align: center;
    margin-top: 100px;
}
.carousel {
    margin-top: 10px;
}
.carousel img {
    margin: 0px auto;
    width: 300px;
}

.carousel p {
    margin-top: 20px;
}

.upay{
    background-color: #2e1a8a;
    color: aliceblue;
}